<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Inicio</a>
        <a href="/acerca">Acerca</a>
        <a href="/contacto">Contacto</a>
        <a href="/contacto-fetch">Contacto fetch</a>
        <a href="/estilos">Estilos</a>
        <a href="/encuesta">Encuesta</a>
        <a href="/mensajes">Mensajes</a>
        <a href="/productos">Productos</a>
        <a href="/frase-view">Frase</a>
      </nav>
      <h1>Bienvenido al ejercicio 3</h1>
      <p>Esta página es la ruta principal del servidor con varias rutas.</p>
      <button id="btn">Haz click</button>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>

